
-- CRIA_FVE_CFOP_5 ---------------------------------------------------------
--------------------------------------------------------------------------------------------------------


if OBJECT_ID ('FVE_CFOP_5') is not null
	drop function FVE_CFOP_5
go
create function FVE_CFOP_5
(@CFOP as nvarchar (4)) returns nvarchar(20) as 
------------------------------------------------------------------------------------------------------	
begin
declare @Saída as nvarchar (20)
set @Saída = 
	(select case when @CFOP in 
		(
		1201,
		1202,
		1203,
		1204,
		1410,
		1411,
		2201,
		2202,
		2203,
		2204,
		2410,
		2411,
		3201,
		3202,
		5101,
		5102,
		5103,
		5104,
		5105,
		5106,
		5109,
		5110,
		5111,
		5112,
		5113,
		5114,
		5115,
		5116,
		5117,
		5118,
		5119,
		5120,
		5122,
		5123,
		5401,
		5402,
		5403,
		5405,
		5501,
		5502,
		6101,
		6102,
		6103,
		6104,
		6105,
		6106,
		6107,
		6108,
		6109,
		6110,
		6111,
		6112,
		6113,
		6114,
		6115,
		6116,
		6117,
		6118,
		6119,
		6120,
		6122,
		6123,
		6401,
		6402,
		6403,
		6404,
		6501,
		6502,
		7101,
		7102,
		7105,
		7106,
		7127,
		7501
		) then 'VENDAS'

		when @CFOP in
		(
		1101,
		1102,
		1111,
		1113,
		1116,
		1117,
		1118,
		1120,
		1121,
		1122,
		1401,
		1403,
		2101,
		2102,
		2111,
		2113,
		2116,
		2117,
		2118,
		2120,
		2121,
		2122,
		2401,
		2403,
		3101,
		3102
		) then 'COMPRAS'

		else 'OUTRAS' end as 'Tipo Operação' )

return
 @Saída
end 
go
